// إعدادات أزرار الراديو مع الصور
.radio-images {
  &__label {
    @apply inline-block mb-0.5 cursor-pointer rounded-md overflow-hidden h-24 md:h-20 w-full; // إعدادات تسمية زر الراديو
  }

  &__badge {
    @apply block absolute bottom-10 left-1/2 -translate-x-1/2 rounded-full px-1.5 bg-red-400 text-white whitespace-nowrap; // إعدادات شارة الزر
  }

  input[type="radio"] {
    display: none; // إخفاء زر الراديو

    + label {
      position: relative; // تعيين الموضع النسبي للتسمية

      &:after {
        content: "\ea9d"; // رمز الأيقونة
        font-family: "sallaicons" !important; // تعيين عائلة الخط
        speak: never; // منع قراءة الأيقونة
        font-style: normal; // تعيين نمط الخط
        font-weight: normal; // تعيين وزن الخط
        font-variant: normal; // تعيين متغير الخط
        text-transform: none; // عدم تحويل النص
        line-height: 1; // تعيين ارتفاع السطر
        -webkit-font-smoothing: antialiased; // تحسين عرض الخط
        -moz-osx-font-smoothing: grayscale; // تحسين عرض الخط على macOS
        background: white; // لون خلفية الأيقونة
        border-radius: 50%; // تعيين الزوايا المدورة
        top: 50%; // تعيين الموضع العلوي
        left: 50%; // تعيين الموضع الأيسر
        width: 20px; // عرض الأيقونة
        height: 20px; // ارتفاع الأيقونة
        font-size: 14px; // حجم الخط
        display: flex; // تعيين العرض ككتلة مرنة
        justify-content: center; // محاذاة المحتوى إلى المركز
        align-items: center; // محاذاة المحتوى عموديًا
        position: absolute; // تعيين الموضع المطلق
        opacity: 0; // تعيين الشفافية إلى 0
        transform: translate(-50%, -50%) scale(.4); // تعيين موضع الأيقونة
        transition: transform .3s; // تأثير الانتقال
      }

      &:before {
        content: ''; // محتوى فارغ
        background-color: #004d40; // لون خلفية
        opacity: 0; // تعيين الشفافية إلى 0
        position: absolute; // تعيين الموضع المطلق
        top: 0; // تعيين الموضع العلوي
        bottom: 0; // تعيين الموضع السفلي
        left: 0; // تعيين الموضع الأيسر
        right: 0; // تعيين الموضع الأيمن
        transition: opacity .3s; // تأثير الانتقال على الشفافية
      }
    }

    &:checked {
      + label {
        &:after {
          opacity: 1; // جعل الأيقونة مرئية عند التحديد
          transform: translate(-50%, -50%) scale(1); // تعيين موضع الأيقونة
        }

        &:before {
          opacity: .3; // تعيين الشفافية عند التحديد
        }
      }
    }

    &:disabled {
      + label {
        opacity: .45; // تعيين الشفافية عند التعطيل
      }
    }
  }
}
