// إعدادات نافذة الهدايا
.s-gifting-modal {
    .s-checkbox {
        background-color: #e0f7f7 !important; // لون الخلفية للزر
        border: 1px solid #004d40 !important; // لون الحدود

        &:focus {
            --tw-ring-color: transparent !important; // إزالة تأثير الحلقة عند التركيز
        }
    }

    .s-gifting-filepond-placeholder-icon svg {
        fill: #004d40 !important; // لون الأيقونة
    }
}

// إعدادات عنصر واجهة المستخدم للهدايا
.s-gifting-widget .s-list-tile-item {
    @apply border-none rounded-t-none; // إزالة الحدود وتعيين الزوايا
}