// Main Menu
.main-menu > li > a[href*="offer"] {
  @apply text-red-800;
}

// قائمة الجانبية
.sidebar-menu {
  @apply fixed top-0 bottom-0 left-0 bg-white shadow-lg z-50 transform -translate-x-full transition-transform duration-300;

  // عند فتح القائمة
  &.open {
    @apply translate-x-0;
  }

  // عناصر القائمة
  li {
    @apply relative;

    > a {
      @apply flex justify-between items-center p-4 text-gray-700 hover:bg-gray-100 transition duration-300;
    }

    &.has-children {
      > a:after {
        content: "\e970";
        font-family: 'sallaicons';
        @apply ml-2;
      }

      // تفاعلات القائمة الفرعية
      .sub-menu {
        @apply hidden absolute left-full top-0 bg-white shadow-md rounded-md;
        z-index: 20;

        li {
          > a {
            @apply p-3 text-gray-600 hover:bg-gray-200;
          }
        }
      }

      // إظهار القائمة الفرعية عند التمرير
      &:hover > .sub-menu {
        @apply block;
      }
    }
  }
}

// Mobile Slide Menu
@media only screen and (max-width: 1024px) {
  .mobile-menu {
    @apply hidden;
  }

  .mm-ocd-opened {
    .mobile-menu {
      @apply block;
    }
  }

  // تحسين الأزرار في القائمة الجانبية
  .btn--close-sm {
    @apply opacity-1 visibility-visible;
  }
}