// إعدادات عنصر عدم وجود محتوى
.no-content-placeholder {
    color: var(--no-content-text-color, #bbb); // استخدام متغير للون النص
    @apply dark:text-gray-200; // لون النص في الوضع الداكن

    .icon {
        @apply text-gray-300; // إعدادات الأيقونة
        background-color: var(--no-content-icon-bg, #e0e0e0); // استخدام متغير للون الخلفية
        @apply dark:bg-gray-800; // لون الخلفية في الوضع الداكن
    }

    p {
        @apply text-base; // إعدادات النص
        color: var(--no-content-desc-color, #ccc); // استخدام متغير للون الوصف
        @apply dark:text-gray-200; // لون الوصف في الوضع الداكن
    }
}