// إعدادات إعادة تعيين الأنماط الأساسية
:root {
  --text-color-light: #e0f7f7; // لون النص الرئيسي في الوضع الفاتح
  --text-color-dark: #2c3e50; // لون النص الرئيسي في الوضع الداكن
  --background-color-light: #fff; // لون الخلفية في الوضع الفاتح
  --background-color-dark: #34495e; // لون الخلفية في الوضع الداكن
}

body {
  font-size: 15px; // حجم الخط الأساسي
  font-weight: 400; // وزن الخط
  line-height: 26px; // ارتفاع السطر
  color: var(--text-color-light); // استخدام المتغير للون النص
  background-color: var(--background-color-light); // استخدام المتغير للون الخلفية
  position: relative; // تعيين الموضع النسبي
  @apply dark:bg-gray-800; // لون الخلفية في الوضع الداكن
  @apply dark:text-gray-200; // لون النص في الوضع الداكن
}

body.dark-mode {
  color: var(--text-color-dark); // تغيير لون النص في الوضع الداكن
  background-color: var(--background-color-dark); // تغيير لون الخلفية في الوضع الداكن
}

// p {
//   font-size: 16px;
// }

html {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0; // إزالة الحدود
  margin: 0; // إزالة الهوامش
  padding: 0; // إزالة الحشوات
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600; // وزن الخط للعناوين
  margin-bottom: 0px; // إزالة الهوامش السفلية
  @apply dark:text-gray-200; // لون النص في الوضع الداكن للعناوين
}

a {
  text-decoration: none; // إزالة التزيين الافتراضي
  transition: color 0.2s; // تأثير الانتقال على اللون
}

img {
  max-width: 100%; // تعيين الحد الأقصى للعرض
}

a:focus {
  outline: none; // إزالة الإطار عند التركيز
  text-decoration: none; // إزالة التزيين عند التركيز
}

ul,
li {
  margin: 0; // إزالة الهوامش
  padding: 0; // إزالة الحشوات
  list-style: none; // إزالة نمط القائمة
}

h1 {
  @apply text-3xl; // تعيين حجم الخط
}

h2 {
  @apply text-xl; // تعيين حجم الخط
}

h3 {
  @apply text-xl; // تعيين حجم الخط
  line-height: 38px; // ارتفاع السطر
}

// h4 {
//   font-size: 22px; // حجم الخط
//   line-height: 32px; // ارتفاع السطر
// }

// h5 {
//   font-size: 16px; // حجم الخط
//   line-height: 24px; // ارتفاع السطر
// }

// h6 {
//   font-size: 14px; // حجم الخط
//   line-height: 26px; // ارتفاع السطر
// }

.f-color {
  color: var(--text-color-light); // استخدام المتغير للون الخاص
  @apply dark:text-gray-200; // لون النص في الوضع الداكن
}

h5.subtitle {
  font-size: 16px; // حجم الخط
  font-weight: 400; // وزن الخط
}