{#
| المتغيرات                | النوع       | الوصف                                                         |
|---------------------------|------------|---------------------------------------------------------------|
| page                      | كائن      |                                                               |
| page.title                | سلسلة     | *يمكن أن تكون HTML                                           |
| page.slug                 | سلسلة     | مثال: "cat.show"                                            |
#}
{% extends "layouts.master" %}

{% block content %}
    <div class="bg-white dark:bg-gray-800">
        {% component home %}
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}