{#
| المتغيرات     | النوع                  | الوصف         |
|--------------|-----------------------|---------------|
| page         | صفحة                  |               |
| page.title   | سلسلة                | عنوان الصفحة  |
| page.content | سلسلة                | محتوى الصفحة  |
| page.url     | سلسلة                | رابط الصفحة   |
| page.slug    | سلسلة                | معرف الصفحة   |
#}
{% extends "layouts.master" %}
{% block content %}
    <div class="container">

        {# إضافة حاوية فتات الخبز في الصفحات لإنشاء مساحة في حالة إيقاف تشغيل فتات الخبز #}
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>

        <div class="flex justify-center">
            <div class="content content--single-page w-full lg:w-10/12 bg-white rounded p-6 lg:p-8 mt-4 lg:mt-12">
                <h1 class="font-bold text-2xl mb-6">{{ page.title }}</h1>
                <div class="content-entry">
                    {{ page.content|raw }} {# عرض محتوى الصفحة #}
                </div>
                <salla-comments item-id="{{ page.id }}" type="page"></salla-comments> {# قسم التعليقات للصفحة #}
            </div>
        </div>
    </div>
{% endblock %}
