{#
| المتغيرات                     | النوع     | الوصف                                                                      |
|-------------------------------|----------|---------------------------------------------------------------------------|
| url                           | سلسلة    | رابط اللافتة                                                              |
| image.url                     | سلسلة    | رابط الصورة                                                              |
| image.alt                     | ?سلسلة   | نص بديل للصورة                                                          |
| position                      | عدد صحيح | رقم ترتيب يبدأ من الصفر                                                 |
#}
<section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container">
        <a href="{{ url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
            <img width="1200" height="300" src="{{ image.url }}" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/> <!-- صورة اللافتة -->
        </a>
    </div>
</section>
