{# 
| المتغيرات المتاحة:
| component.news_items - مصفوفة الأخبار
| component.speed - سرعة الحركة
#}

<section class="news-ticker-section">
    <div class="news-ticker" data-speed="{{ component.speed|default(3) }}">
        <div class="swiper-wrapper">
            {% for item in component.news_items %}
                <div class="swiper-slide news-item">
                    {% if item.link %}
                        <a href="{{ item.link }}" class="news-link">
                            {{ item.text }}
                        </a>
                    {% else %}
                        <span class="news-text">{{ item.text }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <button class="news-nav news-prev">
            <i class="sicon-chevron-right"></i>
        </button>
        <button class="news-nav news-next">
            <i class="sicon-chevron-left"></i>
        </button>
    </div>
</section> 