// إعدادات منع التمرير عند فتح النوافذ المنبثقة
body.mm-ocd-opened,
body.modal-is-open,
body.fancybox-open {
  overflow: hidden; // منع التمرير

  #tidio-chat,
  [id^="gb-widget"],
  [class$="__feedback"],
  #fb-root,
  .fb_reset,
  #chat-widget-container {
    display: none !important; // إخفاء عناصر الدردشة
  }
}

/* CSS مخصص لأجهزة iOS */
@supports (-webkit-touch-callout: none) {
  @media screen and (max-width: 767px) {
    .mobile #button {
      transform: translateY(-58px); // تحريك الزر لأعلى
      margin-left: 5px; // تعيين الهوامش
    }
  }
}

@media (max-width: 1024px) {
  body.dropdown--is-opened {
    overflow: hidden; // منع التمرير عند فتح القائمة المنسدلة

    #tidio-chat,
    [id^="gb-widget"],
    [class$="__feedback"],
    #fb-root,
    .fb_reset,
    #chat-widget-container {
      display: none !important; // إخفاء عناصر الدردشة
    }
  }

  #tidio-chat {
    z-index: 9999999999; // تعيين مستوى z-index
    position: absolute; // تعيين الموضع
    top: 0; // تعيين الموضع العلوي
    right: 0; // تعيين الموضع الأيمن
    bottom: 0; // تعيين الموضع السفلي
    left: 0; // تعيين الموضع الأيسر
    pointer-events: none; // منع التفاعل

    #tidio-chat-iframe {
      bottom: 0 !important; // تعيين الموضع السفلي
      pointer-events: auto; // السماح بالتفاعل
    }
  }

  [id^="gb-widget"] {
    bottom: 20px !important; // تعيين الموضع السفلي
    z-index: 9999 !important; // تعيين مستوى z-index
  }

  #fb-root {
    .fb_dialog {
      iframe[data-testid="bubble_iframe"] {
        bottom: 20px !important; // تعيين الموضع السفلي
      }
    }
  }

  iframe.tawk-widget {
    bottom: 20px !important; // تعيين الموضع السفلي
  }

  #chat-widget-container {
    height: 100%; // تعيين الارتفاع
    bottom: 0 !important; // تعيين الموضع السفلي
  }
}

iframe.tawk-widget {
  display: block; // تعيين العرض
  bottom: 20px; // تعيين الموضع السفلي
}

// إعدادات شريط المنتج الثابت
.is-sticky-product-bar { 
  &.product-single {
    [id^="gb-widget"],
    iframe.tawk-widget,
    #fb-root .fb_dialog iframe[data-testid="bubble_iframe"],
    iframe.tawk-widget {
      bottom: 70px !important; // تعيين الموضع السفلي
    }
  }
}