// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #333333;
  --main-text-color-dark: #1a1a1a;

  /* updated colors */
  --color-primary: #004d40;
  --color-primary-dark: #00332c;
  --color-primary-d: #00251a;
  --color-primary-l: #00796b;
  --color-primary-reverse: #004d40;
  --color-text: #e0f7f7;
  --bg-gray: #004d40;
  --color-grey: #6d6875;
  --color-light-grey: #f0efeb;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
