// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #333333;
  --main-text-color-dark: #1a1a1a;

  /* updated colors */
  --color-primary: #004d40;
  --color-primary-dark: #00332c;
  --color-primary-d: #00251a;
  --color-primary-l: #00796b;
  --color-primary-reverse: #004d40;
  --color-text: #e0f7f7;
  --bg-gray: #004d40;
  --color-grey: #6d6875;
  --color-light-grey: #f0efeb;
  --color-dark-grey: #2e2e2e;
  --bg-dark: #121212;

  /* new dark mode colors */
  --bg-dark-gray-800: #1e293b; // dark:bg-gray-800
  --text-dark-gray-200: #e5e7eb; // dark:text-gray-200
  --bg-dark-gray-700: #374151; // dark:bg-gray-700

  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}

// تطبيق الوضع الداكن عبر الفئات أو العناصر
body.dark-mode {
  --main-text-color: var(--main-text-color-dark);
  --color-primary: var(--color-primary-dark);
  --bg-gray: var(--bg-dark-gray-800);
  --color-grey: var(--bg-dark-gray-700);
}
