{#
| المتغيرات         | النوع    | الوصف                           |
|------------------|---------|---------------------------------|
| cart             | كائن    |                                 |
| cart.items_count | عدد صحيح |                                 |
| cart.total       | سلسلة   | المجموع المنسق مثل: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  <div class="top-navbar">
    <div class="container flex justify-between items-center">
      <!-- زر القائمة الجانبية -->
      <button class="sidebar-toggle" aria-label="Toggle Sidebar">
        <i class="bx bx-menu"></i> <!-- أيقونة القائمة -->
      </button>

      <!-- حقل البحث -->
      <div class="header-search flex-1 mx-4">
        <input type="text" placeholder="بحث..." class="s-search-input">
      </div>

      <!-- الشعار -->
      <div class="navbar-brand">
        <a href="{{ store.url }}">
          <img src="{{ store.logo }}" alt="{{ store.name }} logo">
        </a>
      </div>

      <!-- أيقونات المستخدم وسلة التسوق -->
      <div class="header-icons">
        <button class="header-btn" aria-label="سلة التسوق">
          <i class="header-btn__icon sicon-shopping-bag"></i>
        </button>
        <button class="header-btn" aria-label="قائمة المستخدم">
          <i class="header-btn__icon sicon-user-circle"></i>
        </button>
      </div>
    </div>
  </div>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes> <!-- نطاقات المتجر -->
{% endif %}