هاذ  الكود  الحالي {#
| المتغيرات        | النوع    | الوصف                           |
|------------------|---------|---------------------------------|
| cart             | كائن    |                                 |
| cart.items_count | عدد صحيح |                                 |
| cart.total       | سلسلة   | المجموع المنسق مثل: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
{% set is_sidebar_open = false %}

<div class="top-bar">
  <div class="container flex justify-between items-center p-4">
    <!-- زر إظهار القائمة الجانبية -->
    <i class='bx bx-menu toggle'></i>

    <!-- الشعار -->
    <div class="logo">
      <img src="{{ store.logo }}" alt="صورة المتجر" class="w-16 h-16">
    </div>

    <!-- زر البحث -->
    <div class="search-box flex items-center">
      <i class='bx bx-search icon'></i>
      <input type="text" placeholder="بحث..." class="search-input">
    </div>

    <!-- أزرار السلة والمستخدم -->
    <div class="flex items-center">
      {% if user.type=='user' %}
        <salla-user-menu avatar-only show-header></salla-user-menu>
      {% else %}
        <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
          <i class="header-btn__icon sicon-user-circle"></i>
        </button>
      {% endif %}
      <salla-cart-summary>
        <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
      </salla-cart-summary>
    </div>
  </div>
</div>

<div class="sidebar-header" id="sidebar">
  <header class="store-header">
    <div class="sidebar-container">
      <div class="menu-bar">
        <custom-main-menu></custom-main-menu>
      </div>
    </div>
  </header>
</div>

{% if store.scope %}
  <salla-scopes 
    selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"
    aria-label="اختيار النطاق">
  </salla-scopes>
{% endif %}